@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300..800&family=Space+Grotesk:wght@300..700&display=swap');

@import './base.css';
@import './primitives.css';
@import './sections/home.css';
@import './sections/about.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
